@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .container {

    &--one {
      grid-column: 1;
      grid-row: 2/3;
    }

    &--two {
      grid-column: 1;
      grid-row: 3/6;
    }

    &--three {
      grid-column: 1;
      grid-row: 6/8;
    }

    &--four {
      grid-column: 1;
      grid-row: 1/2;
    }
  }
}
